/* #musicContainer{
  
} */
.gridStyle{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.songOption{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    width: 18%;
    margin: 10px 2px;
    border:2px solid black;
}
.searchCont{
    display:flex;
    justify-content: center;
}
.header{
    display:flex;
    justify-content: center;
    font-size: 35px;
}
.titleTxt{
    font-size: 15px;
    text-align: center;
}
.artistName{
    font-size: 12px;
}
.searchCont{
    display:flex;
}
.inputStyle{
    width: 400px;
    height: 50px;
    border-radius: 2em;
    border: 1px solid grey;
    padding-left: 20px;
}